<div class="header">
  <nav class="header_top">
    <div class="header_menu">
      <div class="icon">
        <mat-icon>menu</mat-icon>
      </div>
      <img
        src="http://pngimg.com/uploads/amazon/amazon_PNG11.png"
        class="logo"
      />
      <div class="searchbar">

        <input type="text" class="input" (input)="onInput($event)" placeholder="Enter the text here!">
        <div class="searchbar_icon">
          <mat-icon>search</mat-icon>
        </div>
      </div>
      <div class="signin">
        <button class="btn btn-primary" routerLink="/register" >Register</button>
      </div>
      <div class="cart">
        <mat-icon>shopping_cart</mat-icon>
        <p>{{cartCount}}</p>
      </div>
    </div>
  </nav>
</div>
<!-- (click)="onClickRegister()" -->