.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  cursor: pointer;
}
.card {
  width: 30%;
  height: 40%;
  cursor: pointer;
}
.button {
  display: flex;
  justify-content: space-between;
}
