<div class="box">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <label>Add Category</label>
        <input type="text" class="form-control"[(ngModel)]="task" />
        <button class="btn btn-primary" (click)="onClickAdd()">+</button>
      </div>
    </div>
  </div>
  <br />
  <!-- <ul class="list-group">
    <li *ngFor="let task of tasks">
      <span> {{ task.name }} </span>

    </li>

  </ul> -->
  <div class="list">
    <div *ngFor="let task of tasks; let i =index">{{ task.name }}
      <button class="btn btn-danger"(click)="onClickDel(i)">-</button>
    </div>

  </div>
</div>

<div class="container">
  <div class="card" *ngFor="let item of datas | productFilter:searchStringRecieved">
    <img
      class="card-img-top"
      src="https://images-na.ssl-images-amazon.com/images/I/61eKQzIGq0L._UL1500_.jpg"
    />
    <div class="card-body">
      <h5 class="card-title">{{item.id}} - &#x20B9;{{ item.price }}</h5>
      <p class="card-text">{{item.title}}</p>
      <div class="button">
        <button class="btn btn-success" (click)="onCartBtnClick()">Add To Cart</button>
        <button class="btn btn-danger" (click)="onCartRemove()">Remove</button>
        <button class="btn btn-primary"  (click)="onUserClick($event)" [routerLink]="item.id">More</button>
      </div>
    </div>
  </div>
</div>