<div class="container">

  <div class="card" *ngFor="let item of datas | productFilter:searchStringRecieved" routerLink="/details">
    <img
      class="card-img-top"
      src="https://images-na.ssl-images-amazon.com/images/I/61eKQzIGq0L._UL1500_.jpg"
    />
    <div class="card-body">
      <h5 class="card-title">{{item.id}} - &#x20B9;{{ item.price }}</h5>
      <p class="card-text">{{item.title}}</p>
      <div class="button">
        <a class="btn btn-success" (click)="onCartBtnClick()">Add To Cart</a>
        <button class="btn btn-primary"  (click)="onUserClick($event)" [routerLink]="item.id">More</button>
      </div>

    </div>
  </div>
</div>