input.ng-invalid {
  border-left: 5px solid #ff0000;
}
input.ng-valid {
  border-left: 5px solid #008000;
}
.error {
  color: #ff0000;
}
.container {
  border: 1px solid #2686e0;
  width: 80%;
  margin-top: 50px;
}
